<div id="title-skew">
<div id="title-no-skew">
<div id="header">
	<div class="separator-horizontal">
	</div>
</div>



<div class="title-wrapper no-padding no-margin no-float col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="center-rectangle">
		<a href="<%= root_path %>">
			<%= image_tag 'logo.jpg'%>
		</a>
	</div>
	<div class="info col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<div class="poems col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<span> <%= link_to "СТИХИ", poems_path%> </span>
		</div>
		<div class="about col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<span> <%= link_to "ОБО МНЕ", about_path %>  </span>
		</div>
		<div class="contacts col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<span> <%= link_to "КОНТАКТЫ", new_contact_path %>  </span>
		</div>
	</div>
	<div class="secondary-info col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		
		<p>
			<!-- 
			TODO
			Insert here some secondary info
			-->
			
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat iaculis massa, id lacinia urna tempor vitae. Cras rhoncus luctus elit ut tincidunt. Aliquam accumsan lectus pharetra elit vestibulum efficitur. Duis blandit libero maximus, commodo lacus at, posuere erat. Vivamus nisi purus, egestas id facilisis a, pellentesque at tellus. Aliquam consequat feugiat lacinia. Maecenas nec massa ligula. 
		</p>
	</div>
</div>


<div id="footer">
</div>
</div>
</div>
